
<head>
<meta charset="utf-8" />
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>Home - {{ $siteTitle }}</title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}
	{{- if isset .Site.Params "favicon" -}}
	<link rel="icon" type="image/png" href={{ .Site.Params.favicon }} />
	{{- end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='background:%23FFF'%3E%3Cpath d='M7.067 10.012c-.02 1.863 1.545 2.688 3.218 2.688 2.053 0 3.143-1.037 3.143-2.424 0-1.714-1.693-2.063-2.244-2.2C9.29 7.587 8.93 7.513 8.93 6.931c0-.635.614-.857 1.143-.857.794 0 1.44.233 1.492 1.143h1.609c0-1.746-1.45-2.434-3.027-2.434-1.365 0-2.826.74-2.826 2.286 0 1.418 1.133 1.852 2.255 2.148 1.11.296 2.243.434 2.243 1.249 0 .772-.889.942-1.47.942-.89 0-1.673-.392-1.673-1.397zM1.588 12.539h1.661V9.417h3.165V8.125H3.249V6.38H6.9V4.982H1.588z'/%3E%3Cpath d='M14.005 12.595h1.661v-1.63h-1.661z' fill='%23c4ca20'/%3E%3C/svg%3E" />
<style>
html,body {margin:0;padding:0;width:100%;height:100%}
body{display:flex;flex-direction:column;vertical-align:middle;justify-content:center;font-size:18px;color:#444;text-align:center;font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;}
h1,h2,h3{line-height:1.2}
img{border-radius:50%}
a{padding:7px 10px 4px 10px;background:#333;color:#fff;text-decoration:none;border-radius:3px;margin:0 20px}
</style>
<meta name="description" content="{{ .Params.description }}" />
<meta property="og:locale" content="{{ .Language.Lang }}">
<meta name="language" content="{{ .Language.LanguageName }}">
{{ range .AllTranslations }}<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">{{ end }}
	{{- if isset .Site.Params "customcss" }}
		{{ range .Site.Params.customCSS }}
		<link rel="stylesheet" type="text/css" href="{{ . | relURL }}">
		{{ end }}
	{{- end -}}
	{{- range .Site.Params.customJS }}
	{{- if or (hasPrefix . "http://") (hasPrefix . "https://") }}
	<script src="{{ . }}"></script>
	{{- else }}
	<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
	{{- end }}
	{{- end }}
</head>
