html,body {margin:0 auto;padding:0;width:80%;height:100%}
body{display:flex;flex-direction:column;vertical-align:middle;justify-content:center;font-size:18px;color:#444;text-align:center;font-family: Roboto, "-apple-system", "BlinkMacSystemFont", "Segoe UI", Helvetica, Arial, sans-serif;}
h1{line-height:1}
h2,h3{line-height:1;font-weight:lighter}
img{border-radius:50%}
a{padding:7px 10px 4px 10px;background:#333;color:#fff;text-decoration:none;border-radius:3px;margin:20px 20px 0 20px;display:inline-block}